{% load static bulma_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Title{% endblock title %}</title>
  {% block css %}
    <link rel="stylesheet" href="{% static 'bulma/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
    {% block extra_css %}{% endblock extra_css %}
  {% endblock css %}
</head>
<body>
    <nav class="navbar is-info" role = "navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu has-text-centered">
        <div class="navbar-start">
            <div class="navbar-item">
                <a href="/" class="has-text-white">home</a>
            </div>
            <div class="navbar-item">
                <a href="/viewall/" class="has-text-white">view all</a>
            </div>
            <div class="navbar-item">
                <a href="/create/" class="has-text-white">create</a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="/admin-site" class="has-text-white">admin</a>
            </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
</body>